/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(23, 100%, 50%);
  --gradient-color: linear-gradient(90deg,
                  hsl(23, 4%, 28%) 0%,
                  hsl(23, 4%, 8%) 100%);
  --white-color: hsl(0, 0%, 100%);
  --text-color: hsl(23, 4%, 60%);
  --body-color: hsl(23, 12%, 4%);
  --container-color: hsl(23, 4%, 10%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 10rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 25rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3, h4 {
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title {
  font-size: var(--h2-font-size);
  text-align: center;
  margin-bottom: 1.5rem;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/*=============== HEADER & NAV ===============*/
.header{
  position: fixed;
  width: 100%;
  background-color: transparent;
  top: 0;
  left:0;
  z-index: var(--z-fixed);
}

.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_logo{
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color:var(--first-color);

}

.nav_toggle,
.nav_close {
  display: flex;
  font-size: 1.5rem;
  color:var(--white-color);
  cursor: pointer;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1150px) {
  .nav_menu{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    background-color: hsla(23, 12%, 4%, .2);
    padding-block: 5.5rem 4.5rem;
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);
    transition: top .4s;
  }

  .nav_list{
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
  }

  .nav_link{
    color: var(--white-color);
    font-weight: var(--font-medium);
    transition: color .4s;
  }
  .nav_link:hover{
    color: var(--first-color);
  }
  .nav_close{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
  }
}
    

/* Show menu */
.show-menu{
  top: 0;
}

/* Add blur header */
.blur-header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1000%;
  height: 100%;
  background-color: hsla(23, 12%, 4%, .2);
  backdrop-filter: blur(32px);
  -webkit-backdrop-filter: blur(32px);
  top: 0;
  left: 0;
  z-index: -1;
}


.active-link{
  color: var(--first-color);
}

/*=============== HOME ===============*/
.home_container{
  position: relative;
  padding-block: 7rem 1rem;
  row-gap: 2.5rem;
}

.home_content{
  position: relative;
  display: grid;
  justify-self: center;
}

.home_image{
  width: 220px;
}

.home_title{
  font-size: var(--biggest-font-size);
  display: flex;
  column-gap: .25rem;
  color: var(--first-color);
  position: absolute;
  top: -2rem;
  justify-self: center;
}

.home_title span:nth-child(2){
  position: relative;
  z-index: -1;
}

.home_tooltip{
  position: absolute;
  top: -.5rem;
  right: 1.5rem;
}

.home_tooltip-image{
  width: 60px;
  transform: scaleX(1);
}

.home_tooltip-text{
  background: var(--gradient-color);
  padding: .25rem .75rem;
  color: var(--white-color);
  font-weight: var(--font-medium);
  border-radius: 4rem;
  font-size: var(--small-font-size);
  position: absolute;
  transform: translate(60px, -40px);
  white-space: nowrap;
}

.home_social{
  display: grid;
  justify-items: center;
  row-gap: 6rem;
  position: absolute;
  top: 9rem;
  left: -1.5rem
}

.home_social-text{
  position: relative;
  rotate: 90deg;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.home_social-text::after{
  content: '';
  width: 48px;
  height: 1px;
  background-color: var(--text-color);
  position: absolute;
  top: 0;
  bottom: 0;
  margin-block: auto;
  right: -64px;
}

.home_social-links{
  display: grid;
  row-gap: .75rem;
}

.home_social-link{
  font-size: 1.25rem;
  color: var(--text-color);
  transition: color .4s;
}

.home_social-link:hover{ 
  color: var(--first-color);
}
 .home_button{
  justify-self: center;
 }

/*=============== BUTTON ===============*/
.button{
  background-color: var(--gradient-color);
  padding: .75rem 1.5rem;
  border-radius: 4rem;
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: .5rem;
  transition: box-shadow .8s; 
}

.button i{
  font-size: 2rem;
  font-weight: initial;
  color: var(--first-color);
}

.button:hover{
  box-shadow: 0 12px 32px hsla(23, 100% , 50%, .12);
}
/*=============== ABOUT ===============*/
.about_container{
  row-gap: 3.5rem;
}

.about_data{
  text-align: center;
}

.about_description{
  margin-bottom: 2.5rem;
}

.about_image{
  width: 280px;
  justify-self: center;
}
/*=============== FAVORITE ===============*/
.favorite_container{
  padding-top: 2rem;
}
.favorite_article{
  width: 220px;
  display: grid;
  justify-items: center;
  filter: blur(8px);
  scale: 1;
  transition: filter .3s, scale .3s;
}
.section_title{
  text-align: center;
}

.favorite_img{
  width: 220px;
  margin-bottom: 1.5rem;
}

.favorite_model{
  background-color: var(--gradient-color);
  padding: .5rem 1.5rem;
  border-radius: 4rem;
  color: var(--white-color);
}

/* Swiper class */
.swiper-slide-active,
.swiper-slide-duplicate-active{
  filter: blur(0);
  scale: 1;
}
/*=============== MODEL ===============*/
.model_container{
  padding-top: 2rem;
  row-gap: 2.5rem;
}

.model_content{
  position: relative;
  justify-self: center;
}

.model_img{
  width: 280px;
}

.model_tooltip-img{
  width: 60px;
}

.model_tooltip-text{
  background: var(--gradient-color);
  padding: .25rem .75rem;
  color: var(--white-color);
  font-weight: var(--font-medium);
  border-radius: 4rem;
  font-size: var(--small-font-size);
  position: absolute;
  transform: translate(60px, -40px);
  white-space: nowrap;
}

.model_tooltip-1,
.model_tooltip-2 {
  transform: scaleX(-1);
}

.model_tooltip-1 .model_tooltip-text,
.model_tooltip-2 .model_tooltip-text{
  transform: translate(60px, -40px) scaleX(-1);
}

.model_tooltip{
  position: absolute;
}

.model_tooltip-1{
  top: 5.5rem;
  left: 5rem;
}

.model_tooltip-2{
  top: 1rem;
  right: 1.5rem;
}

.model_tooltip-3{
  bottom: 5.2rem;
  left: 3.5rem;
}

.model_tooltip-4{
  bottom: 10rem;
  right: 5rem;
}

.model_button{
  justify-self: center;
}


/*=============== SPONSOR ===============*/
.sponsor_img{
  width: 100px;
  transition: transform .4s;
}

.sponsor_img:hover{
  transform: scale(1.1)
}

.sponsor_container{
  padding-block: .5rem 4.5rem;
  grid-template-columns: repeat(2 ,max-content);
  justify-content: center;
  align-items: center;
  gap: 5rem 4rem;
}

/*=============== FOOTER ===============*/
.footer{
  padding-block: 2rem;
  overflow: hidden;
}

.footer_container{
  row-gap: 4rem;
}

.footer_logo{
  color: var(--first-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
}

.footer_data{
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4rem;
}

.footer_title{
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;
}

.footer_links{
  display: grid;
  row-gap: .75rem;
}

.footer_link{
  color: var(--text-color);
  transition: color .4s;
}

.footer_link:hover{
  color: var(--first-color);
}

.footer_group{
  grid-column: 1/3;
}

.footer_form{
  display: grid;
  row-gap: 1rem;
  margin-bottom: 2rem;
}

.footer_input,
.footer_button{
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  border: none;
  outline: none;
}

.footer_input{
  width: 100%;
  padding: 1.15rem 1.25rem;
  border-radius: 4rem;
  background-color: var(--container-color);
  color: var(--text-color);
}

.footer_input::placeholder{
  color: var(--text-color);
}

.footer_button{
  cursor: pointer;
}

.footer_social{
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}

.footer_social-link{
  color: var(--white-color);
  font-size: 1.25rem;
  transition: color .4s;
}

.footer_social-link:hover{
  color: var(--first-color);
}

.footer_copy{
  display: block;
  margin-top: 5rem;
  font-size: var(--small-font-size);
  text-align: center;
}
/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
  width: 0.6rem;
  border-radius: .5rem;
  background-color: hsl(23 ,4% ,15%);
}

::-webkit-scrollbar-thumb{
  border-radius: .5rem;
  background-color: hsl(23 ,4% ,30%);
}

::-webkit-scrollbar-thumb:hover{
  background-color: hsl(23 ,4% ,40%);
}


/*=============== SCROLL UP ===============*/
.scrollup{
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background: var(--gradient-color);
  display: inline-flex;
  color: var(--white-color);
  font-size: 1.25rem;
  padding: 6px;
  border-radius: .25rem;
  z-index: var(--z-tooltip);
  transition: bottom .4s, transform .4s;
}

.scrollup:hover{
  transform: translateY(-.5rem);
}

/* Show Scroll Up */
.show-scroll{
  bottom: 3rem;
}
/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px){
  .container{
    margin-inline: 1rem;
  }
  .home_image{
    width: 180px;
  }
  .home_title{
    font-size: 8rem;
  }
  .model_img{
    width: 220px;
  }
  .model_tooltip-text{
    font-size: var(--smaller-font-size);
    transform: translate(42px, -40px);
  }
}

/* For medium devices */


/* For large devices */
